{
  email admin@mehko.ai
}

(api_common) {
  encode zstd gzip
  log {
    output stdout
    format json
  }
}

{$DOMAIN} {
  import api_common

  @health path /health
  header @health Content-Type application/json
  respond @health "{\"ok\":true}" 200

  # Send everything else to the API Gateway
  reverse_proxy api-gateway:3001
}
