{
  email admin@mehko.ai
}

api.mehko.ai {
  encode zstd gzip
  log {
    output stdout
    format json
  }

  @health path /health
  # header is separate from respond in Caddy
  header @health Content-Type application/json
  respond @health "{\"ok\":true}" 200

  reverse_proxy http://api-gateway:3001
}
