.county-card-grid {
  padding: 2rem;

  .grid-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
  }
}
